body {
  background-color: orangered;
  font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
textarea,
input,
code {
  display: block;
  text-align: center;
}

todo {
  color: orchid;
}

body div.text {
  text-align: center;
  font-size: large;
  color: blue;
}

div.tabs {
  display: flex;
  justify-content: center;
}

span.home div.tabs button {
  background-color: yellow;
}
